// Specific CSS for your home-page

#home-logo {
  height: 300px;
}

.background-image {
  background-image: image-url('home_background.gif');
  background-size: cover;
  height: 100vh;
}

#home-logo {
  // position: absolute;
  // top: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

button {
  // position: absolute;
  // top: 55%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
