<div class="background-image">

  <div class="d-flex">
    <div class="position-absolute top-50 start-50 translate-middle">
      <%= link_to "Hey Pilot, get ready to fly!", rockets_path, class: "p-3 btn btn-warning btn-lg fs-2 rounded-pill border border-white border-2 fw-bold text-white" %>
    </div>
  </div>

</div>
