.notice {
  animation-duration: 3s;
  visibility:hidden;
  position: absolute;
  z-index: 1;
  animation-name: example;
  margin-top: 1.7%;
}

@keyframes example {
  from {visibility:visible; z-index: 1}
  to {visibility:hidden; z-index: 1}
}
