.rocket {
  position: fixed;
  bottom: -150px;
  left: 82%;
  height: 30px;
  width: 30px;
  transition: transform 3s ease-in-out;
  transform: rotate(-45deg);
}

.rocket-fly {
  transform: translateX(0%) translateY(-150vh) rotate(-45deg);
}
