.carousel {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  object-fit: cover;
}
