footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer ul li {
  margin: 0 15px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
